body {
    font: 16px Helvetica;
    text-align: center;
    font-size: 2em;
    /* font-style: italic; */
    background: #0c0f0a;
    color: #0c0f0a;
    width:100%;
    overflow-y: scroll; overflow-x: hidden;
    /* overflow-x:hidden; */
  }


  
  #main {
    min-height: 800px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row;
    
  }
  

  #left-pane > aside {
    margin: 4px;
    padding: 5px;
    background: #202225;
    flex: 1 6 20%;
    order: 3;
    font-weight:bold;
  }

  /* 
   */

   #boo > aside {
    width: 30%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

#boo > aside > p {
    margin: .3rem;
}

p {
    font-family: 'Fira Sans', sans-serif;
}

   
/* 
 */


  #main > article {
    margin: 4px;
    padding: 5px;
    background: #ffffff;
    flex: 3 1 60%;
    order: 2;
  }
  
  #main > nav {
    margin: 4px;
    padding: 5px;
    background: #fbff12;
    flex: 1 6 20%;
    order: 1;
  }
  
  #main > aside {
    margin: 4px;
    padding: 5px;
    background: #41ead4;
    flex: 1 6 20%;
    order: 3;
    font-weight:bold;

  }

  #main > aside > details {
    min-width: 360px;
  }

  #main > aside > h2 {
    transform: rotate(90deg);
  }
  
  header {
    font-size: 1.5em;
    font-weight:bold;
    display: block;
    margin: 4px;
    padding: 10px;
    min-height: 60px;
    background: #ff206e;
  }

  /* header > .left-say {
    font-size: 2em;
    font-weight:bold;
    display: block;
    margin: 4px;
    padding: 10px;
    min-height: 200px;
  } */


  footer {
    font-weight:bold;

    display: block;
    margin: 4px;
    padding: 5px;
    min-height: 60px;
    background: #ff8120;
  }

  @media all and (max-width: 768px) {
    #main, #page {
        flex-direction: column;
      }
  
      #main > article, #main > nav, #main > aside {
        order: 0;
      }
  
      #main > nav, #main > aside, header, footer {
        min-height: 50px;
        max-height: 50px;
      }

      #main > aside {
        background: none;
        margin-bottom: 40px;
        margin-top: 4px;
      }
      
      #main > aside > h2 {
        transform: none;
        font-size: 3rem;
        margin-bottom: 40px;
        margin-top: 4px;
        /* margin-left: 2px;
        margin-right: 2px; */

      }

      #main > aside > details {
      
        /* transform: none; */
        font-size: 3rem;
        margin-bottom: 4px;
        margin-top: 4px;
    
      }

      /* #aside-slogan > h2{
        display: none;
      } */

  }

  a {
    all: unset;
  }

  